<footer class="status-footer">
  <!-- 🧃 Button Wall -->
  <div class="button-wall">
    <div class="buttons-grid">
      <a href="/">
        <img src="/images/buttons/poweredbyfedora.gif" alt="fedora">
      </a>
      <a href="" target="_blank">
        <img src="/images/buttons/notepad4.gif" alt="Notepad">
      </a>
      <a href="" target="_blank">
        <img src="/images/buttons/best_viewed_with_eyes.gif" alt="eyes">
      </a>
      <a href="" target="_blank">
        <img src="/images/buttons/hackerpowered.gif" alt="hacker">
      </a>
      <a href="https://github.com" target="_blank">
        <img src="/images/buttons/gh-pages-bo.gif" alt="gh-pages">
      </a>
      <a href="" target="_blank">
        <img src="/images/buttons/win10no.gif" alt="win10-no">
      </a>
      <a href="" target="_blank">
        <img src="/images/buttons/delete-twitter.gif" alt="delete-twitter">
      </a>
      <a href="https://duckduckgo.com" target="_blank">
        <img src="/images/buttons/ddg.gif" alt="duckduckgo">
      </a>
      <a href="" target="_blank">
        <img src="/images/buttons/codebrain.gif" alt="codebrain">
      </a>
      <a href="" target="_blank">
        <img src="/images/buttons/htmldream.gif" alt="htmldream">
      </a>
      <a href="https://www.mozilla.org" target="_blank">
        <img src="/images/buttons/firefoxget.gif" alt="firefox">
      </a>
    </div>
  </div>
  <div class="footer-container">
    <div class="theme-switcher">
  <button id="theme-toggle" aria-label="Toggle theme">
    🔄
  </button>
</div>
    <div class="footer-status">
      ✨ Currently: <span id="status-message"></span>
    </div>
     <div class="footer-copy">
      © <a href="/LICENSE.md" rel="noopener">License</a>
    </div>
    <div class="footer-social">
       <div id="footer-timezone" class="footer-timezone"></div>
    </div>
  </div>
</footer>
  <script src="{% if note or notes %}../js/curr_act.js{% else %}js/curr_act.js{% endif %}"></script>
  <script src="{% if note or notes %}../js/theme_toggle.js{% else %}js/theme_toggle.js{% endif %}"></script>
