<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="noindex, nofollow">
  <title>~/del</title>
  <link rel="icon" type="image/x-icon" href="/images/coffee.png">
<link rel="stylesheet" href="{% if note or notes %}../styles.css{% else %}styles.css{% endif %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;1,400&family=VT323&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <div class="header-container" id="nav-container">
      {% include "_header.html" %}
    </div>
  </header>
    {% block content %}{% endblock %}
    {% include "_footer.html"%}
  <script defer src="https://cloud.umami.is/script.js" data-website-id="3191ee62-7777-4372-bb11-a3045a55c24a"></script>
  <!-- <script src="{% if note or notes %}../js/pause_gif.js{% else %}js/pause_gif.js{% endif %}"></script> -->
</body>
</html>
