

{% extends "base.html" %}
{% block content %}
<main>
    <article class="panel">
      <h2>Books</span></h2>
      <p> No particular order for now and just books I can remember from the top of my head... Reviews, things I learned incoming as well.</p>
      <p>T-sql querying - Done</p>
      <p>Designing Data Intensive applications - Done</p>
      <p>Mining the social web - Done</p>
      <p> Code Complete Second Edition - Done</p>
      <p> Fundamentals of Data engineering - Done</p>
      <p> Python Object-oriented programming - Done</p>

    </article>
  </main>
  <script src="js/curr_act.js"></script>

  {% endblock %}